html,
body {
    margin:0;
    padding:0;
    background-color: dimgrey;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100vh;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.white-text{
    color: white;
}

.ntd{
    text-decoration: none;
}

a{
    color: red;
    text-decoration: underline;
    margin-left: auto;
    margin-right: 15px;
}

.card-margin{
    margin-top: 3%;
}

.card-image{
    height: auto;
    width: 100%;
}

#header a{
    text-decoration: none;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active{
    color: red;
}

.dotted-bottom{
    border: 2px dotted transparent;
    border-bottom: 2px dotted gray;
}

.container{
    background-color: whitesmoke;
}

.card{
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
}

.footer{
    color: rgba(255,255,255,0.5);
    position: inherit;
    width: 100%;
    background-color: rgb(51,51,51);
}

.row{
    margin: 0;
}

.card-img-overlay{
    padding: 0;
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 100%
}

#poster-overlay-title {
    margin-top: -3em;
    color: white;
    margin-left: 1em;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#logo{
    margin-left: 0;
}

.navbar-img{
    max-height: 62px;
}

.genre-title{
    color: red;
    font-size: 3ch;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
}

.genre-count{
    color: red;
    font-size: 3ch;
    width: fit-content;
}

.movie-title{
    overflow-wrap: break-word;
}

.btn-m{
    margin: 1ch;
}

.nav-item{
    font-weight: bold;
}


